@model clu.aspnet.webapplication.mvc.core.Models.Person

<h1>Show person details</h1>

@Html.DisplayNameFor(model => model.FirstName)
@Html.DisplayFor(model => model.FirstName)
<br />
@Html.DisplayNameFor(model => model.LastName)
@Html.DisplayFor(model => model.LastName)
<br />
@Html.DisplayNameFor(model => model.ContactMe)
@Html.DisplayFor(model => model.ContactMe)